/target
/logs
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
!/lib/opencv-320.jar
!/lib/Imshow.jar
*.class
/.lein-*
/.nrepl-port
/.dir-locals.el
/profiles.clj
/dev/resources/local.edn
/dev/src/local.clj

/img
\#*#
